body {
    background-image: url("../Images/chocback.jpg");
    background-size: cover;
    min-height: 1000px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.chocTable {
    color: white;
    bottom: 50px;
}

table, tr, th, td {
    border: 1px solid white;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    font-size: 20px;
}

table {
    position: relative;
    top: 100px;
    left: 500px;
}

.rounded {
    background: white;
    white-space: nowrap;
}

.rc5 {
    border-radius: 15px 15px 15px 15px;
}

.Filter, .ChocFilter {
    font-size: 30px;
    position: relative;
    text-align: center;
    height: 39px;
    width: 200px;
    margin-top: 0px;
    top: -57px;
    left: 236px;
}

.Filter {
    right: 500px;
    left: 980px;
    top: 125px;
}


.buffer3 {
    height: 509px;
    width: 1612px;
}

.test {
    position: relative;
    display: inline-block;
    margin: 20px 30px 20px 20px;
    top: 23px;
    left: -9px;
    height: 45px;
    width: 179px;
}

#container {
    color: white;
    margin: 50px 50px 50px 70px;
    position: relative;
    height: 272px;
    width: 1397px;
    left: 119px;
    top: 30.5px;
    font-size: 30px;
}

.Save {
    color: black;
}

.desc {
    color: black;
    position: relative;
    top: 50px;
}



.Catalogue {
    position: relative;
    top: 0px;
}

